<h1>Welcome <%= @user.name %></h1>

It's <%= Time.now %>
We have <%= pluralize(@total_orders, "order") %>
<!--<br>
<div class="btn-group">
<%= link_to "Administrator List", users_path, class: "btn btn-info margin-top" %>
<%= button_to "Logout", logout_path, method: :delete, class: "margin-top" %>
</div>-->