

<div class="container order_form">
<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>
  <div class="order_form">
  <h3> Please Enter Your Details </h3>
</div>
  <div class="form-inputs field form-group">
    <%= f.input :name %>
    <%= f.input :address, presence: true %>
    <%= f.input :email, input_html: {id: "my_email"} %>
    <%= f.input :pay_type, :collection => Order::PAYMENT_TYPES  %>
    <%= f.button :submit, class: "pull-right" %>
    <%= link_to @cart, class: "btn btn-warning pull-left" do %>
    <i class="fa fa-angle-left"></i> Return to Cart
    <% end %>
  </div>


</div>
<!--
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address, rows: 3, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :pay_type %><br>
    <%= f.select :pay_type, Order::PAYMENT_TYPES,
        prompt: 'Select a payment method' %>
  </div>
  <div class="actions">
    <%= f.submit "Place Order" %>  
  </div>
  -->
<% end %>

<script>
  $(document).ready(function() {
    $('#my_email').email_val();
    });
</script>


