
<div class="wrapper col-vs-12">
<h2 style="text-align: center; padding-bottom: 25px;"> Your Shoping Cart </h2>
 <!-- <table>
	<% @cart.line_items.each do |item| %>
 	  <tr>
		<td><%= item.quantity %>&times; </td>
 		<td><%= item.product.title %></td>
 		<td class="item_price"><%= number_to_currency(item.total_price) %></td>
 	  </tr>
	<% end %>
	
 	<tr class="total_line">
 		<td colspan="2">Total</td>
 		<td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
 	</tr>
 </table>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %> 
<%= button_to "Empty Cart", @cart, method: :delete,
  data: { confirm: "Are you sure?" } %> -->
  
  
<div class="container">
	<table id="cart" class="table table-hover table-condensed">
	  <% @cart.line_items.each do |item| %>
    				<thead>
						<tr>
							<th style="width:45%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:20%" class="text-center">Quantity</th>
							<th style="width:15%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs"><img src="<%= item.product.picture.url %> "alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin"><%= item.product.title %></h4>
										<p><%= item.product.description %></p>
									</div>
								</div>
							</td>
							<td data-th="Price" style="vertical-align: middle;"><%= number_to_currency(item.product.price) %></td>
							<td data-th="Quantity" style="vertical-align: middle;" class="Form">
								<!--<input type="number" class="form-control text-center" value= <%= item.quantity %> > -->
							
								<%= simple_form_for(item, html: { class: "form-horizontal myForm text-center" }) do |f| %>
								
								    <%= f.number_field :quantity, class: "form-control" %>
									 
									<%= button_tag(type: "submit", class: "btn btn-info btn-sm refresh" )  do %>
								      <i class="fa fa-refresh"></i>
							   
								    <% end %>
									 
								<% end %>
							
							</td>
							
							
							<td data-th="Subtotal" class="text-center Subtotal" style="vertical-align: middle;"><%= number_to_currency(item.total_price) %> </td>
							<td class="actions text-center" data-th="" style="vertical-align: middle;">
								<!-- <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button> -->
							<%= simple_form_for(item, :html => { method: :delete }) do |f| %>
								
								<%= button_tag(type: "submit", class: "btn btn-danger btn-sm") do %> 
								  <i class="fa fa-trash-o"></i>
								<% end %>
							<% end %>
								
													
							</td>
						</tr>
					</tbody>
	 <% end %>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total: <%= number_to_currency(@cart.total_price) %></strong></td>
						</tr>
						<tr>
							<td> <%= link_to store_path, class:"btn btn-warning" do %>
							  		<i class="fa fa-angle-left"></i> Continue Shopping
							  	 <% end %> 
							  	 </td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center" style="vertical-align: middle;"><strong>Total: <%= number_to_currency(@cart.total_price) %></strong></td>
							<td><%= link_to raw("Checkout <i class=\"fa fa-angle-right\"></i>"), 
          							new_order_path, 
          							method: :get,
         							 class: "btn btn-success btn-block" %>
							</td> 
						</tr>
					</tfoot>
				</table>
</div>


<%= button_to "Empty Cart", @cart, method: :delete, class: "btn btn-danger", style: "margin: 0 auto; display: block; margin-bottom: 20px;",
  data: { confirm: "Are you sure?" } %>

</div>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<!--
<script> 
  $(document).ready(function () {
   $('.form-horizontal').each( function () {
     ('.refresh').click(function() {
      alert("hi")
      });
    });
});
</script> 

<script>
$(document).ready(function() {
  $('.myForm').each(function() {
    $(this).attr('id', function(i) {
      return 'myForm'+(i+1);
    var hello = "hello";
    $('.id').append('<p>  hello </p>');
    });
  });
});
</script> 
  
<script> 
$(document).ready(function() {
  $('.row').each(function() {
    $(this).uniqueId();
    });
}); 

$(function() {
   $('.myForm').each(function() {
      var thisId = this.id;
      $(this).append('<span>' + thisId + '</span>');
      $('.refresh').attr('id', 'hot');
      var ID = $('.refresh').id;
      
      $('.refresh').append('<span>' + "hello" + '</span>');
      
      });
    });
</script> -->
