// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.btn-info{
		display: inline;
		margin-left: 1em;
	} 
	
	.myForm {
	  display: inline;
	  }
	  
	.actions .btn-danger{
		/*float:right; */
		display: block;
		margin: 0 auto;
		margin-bottom: 1.5em;
	}
	

	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}

	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}


@media screen and (max-width: 600px) {
	.myForm {
	  width: 20%;
	  display: inline !important;
	  }
	

.btn-info{
		display: inline;
		margin-left: 1em;
	} 
	
.Form .refresh {
		display: inline;
		margin-left: 1em;
	} 
	

	  
tr {
  height: 50px;
  }
  
.Form .form-control {
  display: inline;
  }

.Form {
  display: inline;
  }
  
  }
/*@media screen and (max-width: 1000px) {
  .Form .form-control {
    display: block;
    width: 100%;
    }
}

@media screen and (max-width: 1000px) {
  .Form .myForm {
    display: block;
    width: 100%;
    text-align: left;
    }
}

@media screen and (max-width: 1000px) {
  .Form .refresh {
    display: block;
    }
}

@media screen and (min-width: 600) and (max-width: 1000px) {
  .Form {
    background-color: black;
    width: 100%;
    }
}
    */


    
@media screen and (min-width: 600px) {
  .Form {
    text-align: center;
    }
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
.Form .form-control {
  width: 70%; 
  display: inline;
  text-align: center;
  
  } 
  
}

@media screen and (max-width: 745px) and (min-width: 600px) {
  .Form .refresh {
    margin-top: 1em;
    }
}

@media screen and (min-width: 1000px) {
.Form .form-control {
  width: 40%; 
  display: inline;
  text-align: center;
  
  } 
}


  /*
@media screen and (max-width: 1000px) {
  .Form .form-control {
    display: block;
    }
    
    .Form .myForm {
      display: block;
      }
    
    .Form .refresh {
      display: block;
      }
    .Form {
      display: block;
      }
} */

