// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*.list_image {
  width: 200px;
  height: 300px;
  }
  
*/

.margin-top {
  margin-top: 15px;
  }
  

  

#side {
  float: left;
  width: 13em;
  padding: 1em 2em;
  
  ul {
    padding: 0;
    list-style: none;
    
    }
  }
  


.align-right { 
  display: inline-block;
  background-color: white;
  margin-right: auto;
  }
  
@media(max-width: 440px) {
  .header h1 {
    font-size: 25px;
    }
}

/* Portrait phones and smaller */


@media (min-width: 480px) {
  .col-vs-1, .col-vs-2, .col-vs-3, .col-vs-4, .col-vs-5, .col-vs-6, .col-vs-7, .col-vs-8, .col-vs-9, .col-vs-10, .col-vs-11, .col-vs-12 {
    float: left;
  }
  .col-vs-12 {
    width: 100%;
  }
  .col-vs-11 {
    width: 91.66666667%;
  }
  .col-vs-10 {
    width: 83.33333333%;
  }
  .col-vs-9 {
    width: 75%;
  }
  .col-vs-8 {
    width: 66.66666667%;
  }
  .col-vs-7 {
    width: 58.33333333%;
  }
  .col-vs-6 {
    width: 50%;
  }
  .col-vs-5 {
    width: 41.66666667%;
  }
  .col-vs-4 {
    width: 33.33333333%;
  }
  .col-vs-3 {
    width: 25%;
  }
  .col-vs-2 {
    width: 16.66666667%;
  }
  .col-vs-1 {
    width: 8.33333333%;
  }
  .col-vs-pull-12 {
    right: 100%;
  }
  .col-vs-pull-11 {
    right: 91.66666667%;
  }
  .col-vs-pull-10 {
    right: 83.33333333%;
  }
  .col-vs-pull-9 {
    right: 75%;
  }
  .col-vs-pull-8 {
    right: 66.66666667%;
  }
  .col-vs-pull-7 {
    right: 58.33333333%;
  }
  .col-vs-pull-6 {
    right: 50%;
  }
  .col-vs-pull-5 {
    right: 41.66666667%;
  }
  .col-vs-pull-4 {
    right: 33.33333333%;
  }
  .col-vs-pull-3 {
    right: 25%;
  }
  .col-vs-pull-2 {
    right: 16.66666667%;
  }
  .col-vs-pull-1 {
    right: 8.33333333%;
  }
  .col-vs-pull-0 {
    right: auto;
  }
  .col-vs-push-12 {
    left: 100%;
  }
  .col-vs-push-11 {
    left: 91.66666667%;
  }
  .col-vs-push-10 {
    left: 83.33333333%;
  }
  .col-vs-push-9 {
    left: 75%;
  }
  .col-vs-push-8 {
    left: 66.66666667%;
  }
  .col-vs-push-7 {
    left: 58.33333333%;
  }
  .col-vs-push-6 {
    left: 50%;
  }
  .col-vs-push-5 {
    left: 41.66666667%;
  }
  .col-vs-push-4 {
    left: 33.33333333%;
  }
  .col-vs-push-3 {
    left: 25%;
  }
  .col-vs-push-2 {
    left: 16.66666667%;
  }
  .col-vs-push-1 {
    left: 8.33333333%;
  }
  .col-vs-push-0 {
    left: auto;
  }
  .col-vs-offset-12 {
    margin-left: 100%;
  }
  .col-vs-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-vs-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-vs-offset-9 {
    margin-left: 75%;
  }
  .col-vs-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-vs-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-vs-offset-6 {
    margin-left: 50%;
  }
  .col-vs-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-vs-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-vs-offset-3 {
    margin-left: 25%;
  }
  .col-vs-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-vs-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-vs-offset-0 {
    margin-left: 0;
  }
}