// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.thumb-hover a:hover  {
  background-color: white;
  }
  
.store_button {
  display: inline-block;
  }
  
.thumbnail form {
  display: inline;
  }
  
.order_form h3 {
  margin-left: 0px; 
  text-align: center;
  }

.field {
  margin-top: 25px;
  }
.left-align {
  background-color: black;
  }
  
.red-form {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);
  color: red;
} 
  
@media(min-width: 1200px) {
  .order_form {
    max-width: 700px;
    }
}
