<p id="notice"><%= notice %></p>

<div class="header">
  <h1 class="text-center" style="padding: 50px 0px 50px 0px;">Our Tuxedo Collection</h1>
</div>

<div class="row_1_index">
<div class ="container">
   <% @products.each do |product| %>
    <div class="col-sm-4 col-xs-6 col-vs-12">
      <div class="thumbnail">
	    <img src="<%= product.picture.url %> ">
	    <div class="caption">
		 <h4> <%= product.title %> </h4>
		 <p> <%= product.description %> </p>
		 <p style="display:inline-block; width: 50%;"> <%= number_to_currency(product.price) %> </p>
		 <button type="button" class="btn btn-primary">Add To Cart</button> <br>
		 <%= link_to "Show", product %>
		 <%= link_to "Edit", edit_product_path(product) %>
		 <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
	  </div>
    </div>
  <% end %>
</div>
</div>
<!--
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= image_tag(product.image_url, class: 'list_image') %></td>
        <td><%= image_tag product.picture.url %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->

<%= link_to 'New Product', new_product_path %>


