


<div class="header">
  <h1 class="text-center" style="padding: 50px 0px 50px 0px;">Our Tuxedo Collection</h1>
</div>

<div class="row_1_index">
<div class ="container">
  <% cache ['store', Product.latest] do %>
   <% @products.each do |product| %>
     <% cache ['entry', product] do %>
    <div class="col-sm-4 col-xs-6 col-vs-12">
      <div class="thumbnail">
	      <img src="<%= product.picture.url %> ">
	    <div class="caption">
		 <h4 class="thumb-hover" style=" color: #337ab7;"> <%= product.title %> </h4>
		 <p style="height: 2.857142858em; overflow: hidden;">  <%= sanitize(product.description) %> </p>
		 <p style="display:inline-block; width: 50%;"> <%= number_to_currency(product.price) %> </p>
		 <%= button_to 'Add To Cart', line_items_path(product_id: product), type: "button", class: "btn btn-primary" %>

		</div>
	  </div>
    </div>
    <% end %>
  <% end %>
 <% end %>
</div>
</div>

<script> 
$("[data-toggle=popover]")
.popover({html:true})
</script>